body {
  font-family: "Open Sans", sans-serif;
  background-color: #444;
  margin: 0 auto;
  max-width: 1000px;
  font-size: 11pt;
}
#content {
  min-height: 100vh;
  background-color: white;
}
#title {
  text-align: center;
  padding-top: 0.5em;
}
h1, h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
h4 {
  font-weight: normal;
}
h1, h2, h4 {
  line-height: 0.5em;
}
a {
  color: black;
}

#contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#columns {
  display: flex;
  padding: 2em;
}

#columns .column:first-of-type {
  width: 30%;
  display: block;
  padding-right: 2em;
}
#columns .column:last-of-type {
  flex-grow: 1;
  display: block;
}

.title {
  font-family: "Sono", monospace;
  font-weight: bold;
  font-size: 14pt;
  width: 100%;
  border-bottom: 2px solid;
}
.sub.title {
  font-size: 12pt;
  color: #666;
  padding-top: 0.5em;
}
.main.title {
  font-size: 16pt;
}

.skill-list {
  display: flex;
  gap: 0 0.5em;
  flex-wrap: wrap;
}
.skill-list span:after {
  content: ","
}
.skill-list span:last-of-type:after {
  content: ""
}

#employment ul {
  padding-left: 1em;
}
