body {
  font-family: "Open Sans", sans-serif;
  background-color: #444;
  margin: 0 auto;
  font-size: 10pt;
}
#content {
  max-width: 8.5in;
  min-height: 11in;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 1em;
  background-color: white;
  padding: 0.5em 2em;
  position: relative;
  box-sizing: border-box;
}
#title {
  text-align: center;
}
h1, h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1, h2 {
  margin: 0
}
a {
  color: black;
}

#blurb {
  font-family: "Sono", monospace;
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  margin: 0;
}

#contact {
  font-family: "Sono", monospace;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.5em 0;
}

#columns {
  display: flex;
}

#columns .column:first-of-type {
  width: 30em;
  display: block;
  padding-right: 1.5em;
}
#columns .column:last-of-type {
  flex-grow: 1;
  display: block;
}

.title {
  font-family: "Sono", monospace;
  font-weight: bold;
  font-size: 12pt;
  width: 100%;
  border-bottom: 2px solid;
}
.title, .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sub.title {
  font-size: 10pt;
  color: #666;
  padding-top: 0.5em;
}
.main.title {
  font-size: 14pt;
}
.title span:first-of-type {
  width: 50%;
}

.skill-list {
  display: flex;
  gap: 0 0.5em;
  flex-wrap: wrap;
}
.skill-list span:after {
  content: ","
}
.skill-list span:last-of-type:after {
  content: ""
}

ul {
  padding-left: 1em;
  margin: 0;
}
.section {
  margin-top: 1em;
}

#controls {
  width: 100%;
  background-color: white;
  border-top: 2px solid #333;
  padding: 1em 3em;
  position: fixed;
  bottom:0%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#print-frame {
  position: absolute;
  width: 8.5in;
  height: 11in;
  border: 2px solid darkblue;
  top: 0;
  left: 0;
}

@media print {
  .nobreak {
    break-inside: avoid;
  }
  #controls, #print-frame {
    display: none;
  }
  #content {
    margin: 0;
  }
}
@page {
  size: 8.5in 11in;
  margin: 0;
}
